name: Xcode - Build Analyze Test

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    name: Build, analyze, test using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          xcodebuild clean build analyze test xcodebuild -project SocialTen.xcodeproj -scheme SocialTen -destination 'platform=iOS Simulator,name=iPhone 15'
