name: Xcode - Build Analyze Test

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    name: Build, analyze, test using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          xcodebuild -project SocialTen.xcodeproj -scheme SocialTen -destination 'platform=iOS Simulator,name=iPhone 16' clean build analyze
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Ten-Test
          path: /Users/runner/Library/Developer/Xcode/DerivedData/SocialTen-*/Build/Products/Debug-iphonesimulator/SocialTen.app
    
